<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
        DoFun/Variety's extracted apps_match_config.json fixes the local music hotseat to
        com.tw.music/.MusicActivity (or com.tw.media with the same class).  Expose that stock
        Topway-compatible identity only in the topwayTwMusic flavour while targeting Auxio's real
        activity implementation.
        -->
        <activity
            android:name="org.oxycblt.auxio.MainActivity"
            tools:node="merge">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.tw.music.MusicActivity"
            android:targetActivity="org.oxycblt.auxio.MainActivity"
            android:exported="true"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:label="@string/info_topway_music_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
