[submodule "media"]
	path = media
	url = https://github.com/OxygenCobalt/media.git

[submodule "musikr/src/main/jni/taglib"]
	path = musikr/src/main/jni/taglib
	url = https://github.com/taglib/taglib.git
	tag = v2.0.2	
