name: Android CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
    - name: Set up NDK r21e
      uses: nttld/setup-ndk@v1.2.0
      id: setup-ndk
      with:
        ndk-version: r21e
        add-to-path: false
    - run: python3 prebuild.py
      env:
        ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build debug APK with Gradle
      run: ./gradlew app:packageDebug
    - name: Upload debug APK artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        name: Auxio_Canary
        path: ./app/build/outputs/apk/debug/app-debug.apk
